@import './variables.scss';

.contact-form {
  width: 50%;
  input[type='text'] {
    width: 100%;
  }
  textarea {
    width: 100%;
    height: 100px;
  }
}

#contact-submit-button {
  width: 150px;
  height: 50px;
  border: 1px solid white;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  color: $contacts-background;
}

#contact-submit-button::before,
#contact-submit-button::after {
  position: absolute;
  background: $carolina-blue;
  z-index: -1;
  transition: 1s;
  content: '';
}

#contact-submit-button::before {
  height: 50px;
  width: 130px;
}

#contact-submit-button::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#contact-submit-button:hover::before {
  width: 0px;
  color: $jet;
  background: $contacts-background;
}

#contact-submit-button:hover::after {
  height: 0px;
  color: white;
  background: $contacts-background;
}

#contact-submit-button:hover {
  color: white;
  background: $contacts-background;
}
