@font-face {
  font-family: 'Overpass';
  src: url('../assets/fonts/Overpass/Overpass-Regular.ttf');
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Delete this or change it later */
body {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
