@font-face {
  font-family: 'Overpass';
  src: url('../assets/fonts/Overpass/Overpass-Regular.ttf');
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Delete this or change it later */
body {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  /* src: local('Overpass'), url('../assets/fonts/Overpass'); */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
