@import './variables.scss';

#nav-bar {
  background-color: $nav-bar-background;
  height: 55px;
  z-index: 1;
  animation: popdown 0.5s;
}

@keyframes popdown {
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  // z-index: 1;
}

.link-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  padding-left: 15px;
  .link-wrapper-right {
    display: flex;
    margin-left: auto;
    height: 100%;
    padding-right: 15px;
    div {
      a {
        color: white;
        font-size: 45px;
        margin: 0 10px;
      }
      &:hover {
        a {
          color: $black-coffee;
        }
        background-color: white;
      }
    }
  }
}
