@import './variables.scss';

.scroll-button {
  width: 150px;
  height: 50px;
  border: 1px solid $black-coffee;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.scroll-button::before, .scroll-button::after {
  position: absolute;
  background: $carolina-blue;
  z-index: -1;
  transition: 1s;
  content: '';
}

.scroll-button::before {
  height: 50px;
  width: 130px;
}

.scroll-button::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.scroll-button:hover::before {
  width: 0px;
  color: $jet;
  background: $black-coffee;
}

.scroll-button:hover::after {
  height: 0px;
  color: white;
  background: $black-coffee;
}

.scroll-button:hover {
  color: white;
  background: $black-coffee;
}