$jet: #363537ff;
$ghost-white: #f7f7ffff;
$old-gold: #d2bf55ff;
$carolina-blue: #279af1ff;

$celeste: #adfcf9ff;
$morning-blue: #89a894ff;
$hunter-green: #4b644aff;
$black-coffee: #49393bff;

$english-vermillion: #d64045ff;
$mint-cream: #f7fff7ff;
$lavender-blush: #ffebebff;
$black-coffee: #49393bff;

$section-left-margin: 5%;
$section-right-margin: 5%;
$section-border-top: white 50px solid;

$nav-bar-background: $black-coffee;
$bio-backgrond: white;
$projects-background: #949494;;
$tech-stack-background: white;
$contacts-background: #949494;
$footer-background: $black-coffee
